body{
    background-color: #3D2E9E;
    font-family:'Roboto', sans-serif;
    }

    section{
    -webkit-box-shadow: 5px 5px 18px 5px rgba(0,0,0,0.71); 
    box-shadow: 5px 5px 18px 5px rgba(0,0,0,0.71);
    display: block;
    margin-left:auto;
    margin-right: auto;
    max-width: 500px;
    background-color: white;
    margin-top:100px;
    padding:15px;
    border: 1px solid black;
    border-radius: 5px;
    }

    section h1{
    font-size: 30px;
    text-align: center;
    }

    header{
    background-image: url('https://media-exp1.licdn.com/dms/image/C4D16AQHGD2VYsL3YlA/profile-displaybackgroundimage-shrink_200_800/0/1617999051230?e=1623283200&v=beta&t=1-vLzZ0FfvqBkRu_LKxQuO4VzB2VRn_gAonCofG4U9Q');
    background-size:cover;
    height: 80px;
    border-radius: 5px;
    }

    div {
    font-size: 18px;
    padding: 15px;
    background-color: #E6DEFF;
    border-radius: 5px;
    }
    div h2{
    text-align: center;
    }

    img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left:auto;
    margin-right:auto;
    display: block;
    transform: translateY(-50%);
    border: 8px solid white;
    }
